*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100%;
}
nav{
    border: 1px solid grey;
    padding: 20px;
    background: rgb(14, 202, 223);
}
nav a{
    display:inline;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 80px; 
    margin-top: 15px;
    background: transparent;
}
.logo{
    width: 40%;
}
.logo img{
    width: 40%;
    margin-top: 30px;
}

.join h1,.join p ,.form h4{
    text-align: center;
	padding: 20px 0;
	font-size: 30px;

}

.form input,.form select{
    display: block;
    border: 1px solid gray;
    font-size: medium;
    width: 80%;
    padding: 10px;
    margin-left: 90px;

}

 form button{
    background: rgb(21, 183, 96);
    color: WHITE;
    padding: 15px 10px;
    font-size:15px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    width: 10%;
    margin-left: 30%;
}
.overview,.overview p,.overview p a{
    background: gray;
    color:white;
    padding:auto;
    text-align: center;

}
.logo4 img{
    width: 20%;
    margin-top: 10px;
}
.ream{
    text-align: center;
	padding: 20px 0;
	font-size: 20px;
}
h3{
    text-align: center;
    padding: 10px;
    margin-left: 10px;
} 
p{
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
}
.believe{
    margin: 0;
}
.abt p ,.abt a ,.abt h3{
    background: gray;
    color:white;
    text-align: center;
    padding:5px;
    

}
.types h3,.types li{
 margin-left: 50px;
 padding: 0 auto;
 text-align: left;
 font-size: 20px;


}
.form{
    width: 60%;
    align-items: center;

}
.form h3,.form p{
    margin-left: 50px;
 padding: 0 auto;
 text-align: left;
 font-size: 20px;

}
.form li{
    margin-left: 90px;
}
.domesticv{
    margin-left: 20%;
}
.balance p{
    background: rgb(222, 197, 197);
}

.measures{
    padding: 10px;
}
.measures div{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
}
.stop img{
    height: 500px;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
}
.help h1{
    text-align: center;
	padding: 20px 0;
}
.help p{
    text-align: center;
	padding: 20px 0;
	font-size: 20px;

}
.last p,.last h3{
background: gray;
color: black;
text-align: center;
padding: 0;
margin: 0%;
}

@media(max-width:570px) {
nav a{
    width: 100px;
    color: white;
    margin: 0;
    padding: 10px;
}
.abt p , .abt h3{
    padding: 0;
}
.stop img{
    margin: 0;
    width: 90%;
}
.domesticv{
    width: 10%;
}
form button{
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 30%;
    margin-left: 30%;
}
.form input{
    margin-left:20px;
    margin-top: 10px;
}
    
}

